$primary-overlay: rgba(46, 49, 146, 0.52);
// HOME css

.navbar{
  background: #8f4f03;
  box-shadow: 0px 0px 25px 0px;
}
.navbar-brand img{
  margin-right: 150px;
  height: 440px;
}
.nav-item{
padding-right: 10px;
}
